
<div class="col-md-6 col-md-offset-3">
    <h2>Create a new Geo-Chat Room</h2>
    <form name="form" ng-submit="vm.addRoom(vm.roomName)" role="form">
        <div class="form-group">
            <label for="username">Room Name</label>
            <input type="text" name="room_name" id="room_name" class="form-control" ng-model="vm.roomName" required />
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Add Room</button>      
        </div>
    </form>
    <br/>
       <div display="block">
            <div class="btn-group" style="width:100%" ng-repeat="room in vm.DataService.rooms">
                    <a type="button" class="btn btn-default" style="width:85%" href="/rooms/{{room.$id}}">{{room.Name}}</a>
                    <a type="button" class="btn btn-default" style="width:15%" href="/rooms/edit/{{room.$id}}">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
            </div>
       </div>
</div>