<div id="chatContainer" class="full-height">
    <div id="chatMessages" class="chat-messages">
        <div ng-repeat="message in vm.messages" class="message message-default">
            <span ng-style="{'color': message.color}">
                <strong>{{ message.email.substr(0, message.email.indexOf('@'))}}</strong>      
                ({{ message.timestamp | date:'short'}}):              
            </span>
             {{ message.text }}
        </div>
    </div>
    <div id="chatBox" class="chat-box">
        <form ng-submit="vm.sendMessage()">
            <div class="input-group">
                <input class="form-control" maxlength="150" placeholder="Send a message" ng-model="vm.message"></input>
                <span class="input-group-btn">
                    <button id="message-box" class="btn btn-default" type="submit"><span class="glyphicon glyphicon-send"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>